In [3]:
import os
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.ensemble import GradientBoostingClassifier

In [20]:
# 設定 data_path
dir_data = './data/'

f_app = os.path.join(dir_data, 'train.csv')
train = pd.read_csv(f_app,header=None)

b_app = os.path.join(dir_data, 'trainLabels.csv')
train_label = pd.read_csv(b_app,header=None)

c_app = os.path.join(dir_data, 'test.csv')
test = pd.read_csv(c_app,header=None)

# 建立模型
clf = GradientBoostingClassifier()

# 訓練模型
clf.fit(train, train_label)

# 預測測試集
y_pred = clf.predict(test)

C:\Users\Eddy\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [23]:
data = {'Id':range(1, 9001),
       'Solution':y_pred}
df = pd.DataFrame(data)
df.to_csv("Day_048_HW.csv",index=False)

In [24]:
df

        Id  Solution
0        1         1
1        2         0
2        3         1
3        4         0
4        5         0
5        6         0
6        7         0
7        8         1
8        9         0
9       10         0
10      11         1
11      12         1
12      13         1
13      14         0
14      15         0
15      16         1
16      17         0
17      18         1
18      19         0
19      20         1
20      21         1
21      22         1
22      23         1
23      24         0
24      25         1
25      26         1
26      27         1
27      28         0
28      29         1
29      30         0
...    ...       ...
8970  8971         0
8971  8972         0
8972  8973         1
8973  8974         1
8974  8975         0
8975  8976         1
8976  8977         0
8977  8978         1
8978  8979         1
8979  8980         1
8980  8981         1
8981  8982         1
8982  8983         0
8983  8984         0
8984  8985         0
8985  8986         1
8986  8987         0
8987  8988         0
8988  8989         1
8989  8990         1
8990  8991         0
8991  8992         1
8992  8993         0
8993  8994         1
8994  8995         1
8995  8996         0
8996  8997         1
8997  8998         1
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]